<div class="row">
    <div id="red_team" class="card col-6 red_team_card">
        <div class="card-title" style="text-align:center;user-select:none;color:#b0b0b0;">
            <h2>Orcs</h2>
        </div>
        <div class="card-body">
            <div class="col" style="padding-bottom:20px;">
                <div class="progress red_team_progress">
                    <div id="red_team_hp"
                         class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                         role="progressbar"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"
                        style="user-select:none;">
                    </div>
                    <div id="red_team_hp_fill"
                         class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                         role="progressbar"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="opacity: 0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="blue_team" class="card col-6 blue_team_card">
        <div class="card-title" style="text-align:center;user-select:none;color:#b0b0b0;">
            <h2>Heroes</h2>
        </div>
        <div class="card-body">
            <div class="col" style="padding-bottom:20px;">
                <div class="progress blue_team_progress">
                    <div id="blue_team_hp_fill"
                         class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="opacity: 0">
                    </div>
                    <div id="blue_team_hp"
                         class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="user-select:none;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>