<div id="red_team_hit" data-team="red">
    <h1 class="hit_text hidden">PRESS TO ATTACK!</h1>
</div>
<div id="blue_team_hit" data-team="blue">
    <h1 class="hit_text hidden">PRESS TO ATTACK!</h1>
</div>
<script>
    $('#hit_area').on('mouseover', '#blue_team_hit', function() {
        if (!$('#winner').hasClass('hidden')) {
            return;
        }
        $('#blue_team_hit > h1').toggleClass('hidden', false);
        $('#blue_team_hit').toggleClass('hit_highlight', true);
    });
    $('#hit_area').on('mouseleave', '#blue_team_hit', function() {
        if (!$('#winner').hasClass('hidden')) {
            return;
        }
        $('#blue_team_hit > h1').toggleClass('hidden', true);
        $('#blue_team_hit').toggleClass('hit_highlight', false);
    });
    $('#hit_area').on('mousedown', '#blue_team_hit', function() {
        if (!$('#winner').hasClass('hidden')) {
            return;
        }
        $('#blue_team_hit').toggleClass('hit_activated', true);
        $('#blue_team_hit > .hit_text').toggleClass('hit_text_hightlight', true);
    });
    $('#hit_area').on('mouseup', '#blue_team_hit', function() {
        if (!$('#winner').hasClass('hidden')) {
            return;
        }
        $('#blue_team_hit').toggleClass('hit_activated', false);
        $('#blue_team_hit > .hit_text').toggleClass('hit_text_hightlight', false);
    });

    $('#hit_area').on('mouseover', '#red_team_hit', function() {
        if (!$('#winner').hasClass('hidden')) {
            return;
        }
        $('#red_team_hit > h1').toggleClass('hidden', false);
        $('#red_team_hit').toggleClass('hit_highlight', true);
    });
    $('#hit_area').on('mouseleave', '#red_team_hit', function() {
        if (!$('#winner').hasClass('hidden')) {
            return;
        }
        $('#red_team_hit > h1').toggleClass('hidden', true);
        $('#red_team_hit').toggleClass('hit_highlight', false);
    });
    $('#hit_area').on('mousedown', '#red_team_hit', function() {
        if (!$('#winner').hasClass('hidden')) {
            return;
        }
        $('#red_team_hit').toggleClass('hit_activated', true);
        $('#red_team_hit > .hit_text').toggleClass('hit_text_hightlight', true);
    });
    $('#hit_area').on('mouseup', '#red_team_hit', function() {
        if (!$('#winner').hasClass('hidden')) {
            return;
        }
        $('#red_team_hit').toggleClass('hit_activated', false);
        $('#red_team_hit > .hit_text').toggleClass('hit_text_hightlight', false);
    });
</script>