<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lord of the Containers</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script>
        var APP_PARAMS = <%- JSON.stringify(appParams) %>;
    </script>
    <script>
        var audio = new Audio('media/bensound-sadday.mp3');
        audio.loop = true;
        audio.play();
    </script>
    <script src="/node_modules/lodash/lodash.min.js" type="text/javascript"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.js" type="text/javascript"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/node_modules/socket.io-client/dist/socket.io.slim.js"></script>

</head>
<body>

<div id="winner" class="win_text hidden row">
    <div class="col" style="text-align:center;user-select:none;">
        <div class="m-2 card-title">
            <h1 id="team_name"></h1>
            <div class="nectar-logo-container">
                <img class="nectar-logo" src="/img/logo-nectar.png" alt=""/>
            </div>
            <h2>This demo is brought to you by NECTAR</h2>
        </div>
    </div>
</div>

<div class="logo">
    <img src="/img/logo-lotc.png" alt="" width="60%" height="auto">
</div>

<div class="wrapper-confetti hidden">
    <div id="confetti-wrapper"></div>
</div>

<div id="hit_area"></div>
<script>
    $(function() {
        $('#hit_area').load('views/hit_area.html');
    });
</script>

<div class="container">
    <div id="content">
        <div id="game_info"></div>
        <script>
            $(function() {
                $('#game_info').load('views/game_info.html');
            });
        </script>
    </div>
</div>

</body>

<script src="/js/updateView.js" type="text/javascript"></script>
<script src="/js/sockets.js" type="text/javascript"></script>
<script src="/js/polling.js" type="text/javascript"></script>
<script src="/js/confetti.js" type="text/javascript"></script>

<script>
    $('.nectar-logo').click(function() {
        window.open('http://portal.rpaas.gdshive.com', '_blank');
    });
</script>

</html>
