<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lord of the Containers</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script>
        var APP_PARAMS = <%- JSON.stringify(appParams) %>;
    </script>
    <script src="/node_modules/lodash/lodash.min.js" type="text/javascript"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.js" type="text/javascript"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/node_modules/socket.io-client/dist/socket.io.slim.js"></script>

</head>
<body>

<div class="logo">
    <img src="/img/logo-lotc.png" alt="" width="60%" height="auto">
</div>

<div id="hit_area"></div>
<script>
    $(function() {
        $('#hit_area').load('views/hit_area.html');
    });
</script>

<div class="container">
    <div id="content">
        <div id="game_info"></div>
        <script>
            $(function() {
                $('#game_info').load('views/game_info.html');
            });
        </script>
    </div>
    <!--<div class="row">-->
        <!--<div class="card col-12">-->
            <!--<img src="/img/Health_Bar_BG.svg" class="mx-auto" style="width:80%; ">-->
            <!--<img id="blue_team_hp_bar" src="/img/Blue_Bar.svg" style="position:relative; width:32%; top: -45%; left: 13%;">-->
            <!--<img id="red_team_hp_bar" src="/img/Red_Bar.svg" style="position:relative; width:32%; top: -54%; left: 55%;">-->
        <!--</div>-->
    <!--</div>-->
</div>

</body>

<script src="/js/updateView.js" type="text/javascript"></script>
<script src="/js/sockets.js" type="text/javascript"></script>
<script src="/js/polling.js" type="text/javascript"></script>

</html>
